.proud-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 4.2rem !important;
  text-align: left;
}

.product {
  outline: 2px solid rgba(0, 0, 0, 0.205);
  outline-offset: -2px;
  transition: all 0.15s ease-in;
  cursor: pointer;
}

.product:hover {
  outline: 2px solid rgba(0, 0, 0, 0.7);
}

.product-header img {
  width: 100%;
}

.product-details {
  font-size: 1rem;

  color: black;
}
a {
  text-decoration: none;
  color: black;
}

.item-price {
  font-weight: 600;
  font-size: 1.2rem;
}

.products-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 980px) {
  .proud-container {
    margin: 1rem;
  }

  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  .proud-container {
    margin: 1rem;
  }

  .proud-title {
    font-size: 1.5rem;
    margin-bottom: 2.2rem !important;
  }

  .products-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}
